/* Base */

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
 
  /* Blocks */
  .ftco-cover-1,
  .ftco-cover-1 .container > .row {
    height: 100vh;
    min-height: 600px; }
  .ftco-cover-1 > .container {
    position: relative;
  top: -70px; }
  .ftco-cover-1.overlay {
    position: relative; }
    .ftco-cover-1.overlay:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .95;
      background: #377aff;
      background: -moz-linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #377aff), color-stop(100%, #00d9ff));
      background: -webkit-linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
      background: -o-linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
      background: -ms-linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
      background: linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#377aff', endColorstr='#00d9ff', GradientType=1); }
    .ftco-cover-1.overlay h1 {
      color: #fff; }
    .ftco-cover-1.overlay p {
      color: #fff; }
      .ftco-cover-1.overlay p a {
        color: #fff;
        text-decoration: underline;
        font-weight: 700; }
        .ftco-cover-1.overlay p a:hover {
          text-decoration: none; }
    .ftco-cover-1.overlay form .form-control,
    .ftco-cover-1.overlay form .btn {
      height: 55px;
      border-radius: 4px; }
    .ftco-cover-1.overlay form .form-control {
      padding-left: 20px;
      padding-right: 20px;
      border-color: transparent;
      margin-right: 10px; }
    .ftco-cover-1.overlay form .btn {
      border-color: transparent; }
 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: darkblue;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: orange;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
      }
      
      li a.active {
        color:white;
        background-color: orange;
      }
  
