{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Weather app</title>
	<link href="{% static 'style.css' %}" rel='stylesheet' type='text/css'/>
            <form action="get_city">
			<div class="topnav">
				<a class="active" href="#home">Weather News</a>
				<a href="#about">Any city available</a>
				<a href="#contact">share</a>
				<div class="search-container">
				  <form>
					<input type="text" placeholder="City...." name="search">
					<button type="submit"><i class="fa fa-search"></i>search</button>
				  </form>
				</div>
			  </div>
			  
			  
		<div class="scrollbar" id="style-2">
			<ul>
				<li> {{city}} <span>position {{position}} </span></li>
				<li>{{temps} </canvas></li>
			</ul>
			<ul>
				<li>{{t}} <span>15/08</span></li>
				<li>17°C <canvas id="fog" width="18" height="18"></canvas></li>
			</ul>
			<ul>
				<li>Tue <span>16/08</span></li>
				<li>24°C <canvas id="clear-night" width="18" height="18"></canvas></li>
			</ul>
			<ul>
				<li>Wed <span>17/08</span></li>
				<li>14°C <canvas id="partly-cloudy-night" width="18" height="18"></canvas></li>
			</ul>
			

		</div>
	</div>
</div>
<div class="footer-agileits-w3layouts">
	<p class="agileinfo"> &copy; 2016 Multi Column Widget . All Rights Reserved | Design by</p>
</div>
</body>
</html>